<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/common_header.ejs') -%> 
    <%- include ('../partials/png01_header.ejs') -%>
</head>
<body >
    <div class="container-lg">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4"><h2><b>Employee Details</b></h2></div>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                        </div>
                    </div>
                </div>
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th hidden>ID</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Phone</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <% if (lst_emp_details.length > 0) { %>  
                    <tbody>
                        <% lst_emp_details.forEach(function(item , index){%>
                        <tr>
                            <td  hidden><%= item.emp_Id %> </td>
                            <td ><%= item.emp_name %></td>
                            <td ><%= item.department %></td>
                            <td ><%= item.phone %></td>
                            <td>
                                <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                <a class="update" title="Update" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                        <%  }); %>
                    </tbody>
                    <% } else { %>
                        <p><strong>There are no records available ...</strong></p>
                 <%  } %>
                </table>
              
            </div>
        </div>
    </div>
</body>
</html>